* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #39a0ed;
  font-family: 'Lora', serif;
}

/* Pre-Event container */
#container {
  background-color: #f1ffe7;
  width: 80%;
  margin: 30px 10%;
  border-radius: 8px;
  border: 1px solid #000;
}

h1 {
  text-align: center;
  font-size: 2em;
  padding: 15px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.info-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 10%;
}

.container-small {
  text-align: center;
}

.input-user {
  margin-top: 5px;
  padding: 2px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #39a0ed;
}

.input-user:hover {
  cursor: pointer;
}

.input-user:focus {
  background-color: #39a0ed;
  border: 1px solid #000;
  transition: 0.7s;
}

.interactive-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 10%;
  margin-top: 30px;
}

.interactive-buttons > button {
  padding: 7px;
  margin: 10px;
  background-color: #c2e7da;
  border-radius: 8px;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
}

.interactive-buttons > button:hover {
  cursor: pointer;
  background-color: #39a0ed;
  transition: 0.7s;
}

/* Post-Event container */
#container-post-event {
  background-color: #f1ffe7;
  width: 80%;
  margin: 30px 10%;
  border-radius: 8px;
  border: 1px solid #000;
  padding: 20px;
}

h2 {
  text-align: center;
}


.post-event-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #6b717e;
  border-bottom: 1px solid #6b717e;
}

.personal-user {
  padding: 15px;
  background-color: #6b717e;
  width: 20%;
}

.details-user {
  width: 80%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
}

.row1, .row2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
